:root {
    --primary100:#083365;
    --primary200:#0F3E75;
    --primary400:#317BD3;
    --primary600:#C2D8F1;
    --primary800:#EDF3F9;
    --neutral100:#383838;
    --neutral200:#555555;
    --neutral600:#FAFAFA;
    --white900:#FFFFFF;
}


* {
    font-family:'robotoregular';

}


